@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Orbitron";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/Orbitron.ttf") format("woff2");
	}
}


.scollAnim {
	animation: fadeOut 2s forwards;
	animation-timeline: scroll();
}